/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Neue Machina';
  src: url('assets/fonts/NeueMachina-Regular.woff2') format('woff2'),
       url('assets/fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('assets/fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
       url('assets/fonts/NeueMachina-Ultrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  background-image: url("assets/coins.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
